/* checkbox styles */
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.guardar {
  margin: .5rem 0;
}

form {
  text-align: center;
}

textarea {
  height:100px
}